.bw-cta {
    background: #000;
    color: #fff;
    width: auto;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    transition: color 0.3s ease, background-color 0.3s ease, background 0.3s ease, border-color 0.3s ease, border-radius 0.3s ease, box-shadow 0.3s ease, padding 0.3s ease;
    -webkit-transition: color 0.3s ease, background-color 0.3s ease, background 0.3s ease, border-color 0.3s ease, border-radius 0.3s ease, box-shadow 0.3s ease, padding 0.3s ease;
    -moz-transition: color 0.3s ease, background-color 0.3s ease, background 0.3s ease, border-color 0.3s ease, border-radius 0.3s ease, box-shadow 0.3s ease, padding 0.3s ease;
    -ms-transition: color 0.3s ease, background-color 0.3s ease, background 0.3s ease, border-color 0.3s ease, border-radius 0.3s ease, box-shadow 0.3s ease, padding 0.3s ease;
    -o-transition: color 0.3s ease, background-color 0.3s ease, background 0.3s ease, border-color 0.3s ease, border-radius 0.3s ease, box-shadow 0.3s ease, padding 0.3s ease;
}

.bw-cta .bw-cta-content {
    min-width: 0;
    flex: 1;
}

.bw-cta .bw-cta-title {
    font-size: 44px;
    margin: 0 0 34px 0;
    font-weight: 700;
    letter-spacing: -0.06em;
    transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
}

.bw-cta .bw-cta-subtitle {
    font-size: 23px;
    margin: 0;
    font-weight: 500;
    transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
}

.bw-cta .bw-cta-button {
    flex-shrink: 0;
    transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
    -moz-transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    -o-transform: scale(0.9, 0.9);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.bw-cta .bw-cta-button:hover {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
}

.bw-cta .bw-cta-button a,
.bw-cta .bw-cta-btn {
    display: inline-block;
    white-space: nowrap;
    color: #000;
    background: #fff;
    padding: 16px 28px;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    margin: 20px;
    font-weight: 800;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: color 0.3s ease, background-color 0.3s ease, background 0.3s ease, padding 0.3s ease, border-color 0.3s ease, border-radius 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    -webkit-transition: color 0.3s ease, background-color 0.3s ease, background 0.3s ease, padding 0.3s ease, border-color 0.3s ease, border-radius 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    -moz-transition: color 0.3s ease, background-color 0.3s ease, background 0.3s ease, padding 0.3s ease, border-color 0.3s ease, border-radius 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    -ms-transition: color 0.3s ease, background-color 0.3s ease, background 0.3s ease, padding 0.3s ease, border-color 0.3s ease, border-radius 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    -o-transition: color 0.3s ease, background-color 0.3s ease, background 0.3s ease, padding 0.3s ease, border-color 0.3s ease, border-radius 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.bw-cta .bw-cta-button a i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 14px;
    opacity: 0;
    transition: all 0.3s ease;
}

.bw-cta .bw-cta-button a:hover {
    padding-right: 36px;
}

.bw-cta .bw-cta-button a:hover i {
    right: 14px;
    opacity: 1;
}

@media(max-width: 780px) {
    .bw-cta {
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 50px 25px;
    }
    .bw-cta .bw-cta-button a,
    .bw-cta .bw-cta-btn {
        padding: 10px 16px;
        font-size: 12px;
        margin: 14px 10px;
        display: inline-block;
        white-space: nowrap;
    }
    .bw-cta .bw-cta-button a:hover {
        padding-right: 28px;
    }
}
