.bw-text-animate {
    overflow: hidden;
}

.bw-text-animate-content {
    display: inline-block;
    opacity: 0;
    transition: opacity 0.7s ease-out;
}

@media (prefers-reduced-motion: reduce) {
    .bw-text-animate-content {
        opacity: 1 !important;
        transform: none !important;
        transition: none !important;
    }
}
