.bw-text-marquee-wrapper{
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 21px;
}

.bw-text-marquee-wrapper .bw-text-marquee-content{
    display: flex;
    white-space: nowrap;
    will-change: transform;
    position: absolute;
    transform: translateY(-50%);
    font-size: 14px;
}

.bw-text-marquee-wrapper.pause-on-hover:hover .bw-marquee-inner {
    animation-play-state: paused !important;
}

.bw-text-marquee-wrapper.pause-on-hover:hover .bw-marquee-inner-single {
    animation-play-state: paused !important;
}

@keyframes bw-marquee-left {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}
@keyframes bw-marquee-right {
    0% { transform: translateX(-50%); }
    100% { transform: translateX(0); }
}
