.bw-title-animate.left {
    text-align: left;
}

.bw-title-animate.center {
    text-align: center;
    width: fit-content;
    margin: auto;
}

.bw-title-animate.right {
    text-align: right;
}

.bw-title-animate h1,
.bw-title-animate h2,
.bw-title-animate h3,
.bw-title-animate h4,
.bw-title-animate h5,
.bw-title-animate h6,
.bw-title-animate p,
.bw-title-animate span {
    margin: 0;
}

.bw-title-animate .bw-animate-text,
.bw-title-animate .bw-before,
.bw-title-animate .bw-after {
    color: #000;
}


/* Simple - Sunny mornings */

.bw-title-animate .bw-simple-wrap .bw-letter {
    display: inline-block;
}


/* Classic - Signal & Noise */

.bw-title-animate .bw-classic {
    position: relative;
    color: #402d2d;
}

.bw-title-animate .bw-classic .bw-text-wrapper {
    position: relative;
    display: inline-block;
    padding-right: 0.05em;
}

.bw-title-animate .bw-classic .bw-line {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 3px;
    width: 100%;
    background-color: #402d2d;
    transform-origin: 0.5 0;
}

.bw-title-animate .bw-classic .bw-letters {
    display: inline-block;
    opacity: 0;
}


/* Liner - Find Your Element*/

.bw-title-animate .bw-liner .bw-text-wrapper {
    position: relative;
    display: inline-block;
    padding-right: 0.05em;
}

.bw-title-animate .bw-liner .bw-line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #fff;
    bottom: 0;
    transform-origin: 100% 100%;
}

.bw-title-animate .bw-liner .bw-letter {
    display: inline-block;
}


/* Effective - Ready Set Go! */

.bw-title-animate .bw-effective {
    position: relative;
    min-height: 95px;
}

.bw-title-animate .bw-effective .bw-letters {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: auto;
    opacity: 0;
}


/* Typing - Hello Goodbye */

.bw-title-animate .bw-typing .bw-text-wrapper {
    position: relative;
    display: inline-block;
    padding-right: 0.05em;
}

.bw-title-animate .bw-typing .bw-line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #fff;
    transform-origin: 0 50%;
}

.bw-title-animate .bw-typing .bw-line1 {
    top: 0;
    left: 0;
}

.bw-title-animate .bw-typing .bw-letter {
    display: inline-block;
}


/* Fade From Top / Right / Bottom / Left - Dreams */

.bw-title-animate .bw-fft,
.bw-title-animate .bw-ffr,
.bw-title-animate .bw-ffl,
.bw-title-animate .bw-ffb {
    position: relative;
}

.bw-title-animate .bw-fft .bw-text-wrapper,
.bw-title-animate .bw-ffr .bw-text-wrapper,
.bw-title-animate .bw-ffb .bw-text-wrapper,
.bw-title-animate .bw-ffl .bw-text-wrapper {
    position: relative;
    display: inline-block;
    padding-right: 0.05em;
    overflow: hidden;
}

.bw-title-animate .bw-fft .bw-letter,
.bw-title-animate .bw-ffr .bw-letter,
.bw-title-animate .bw-ffb .bw-letter,
.bw-title-animate .bw-ffl .bw-letter {
    display: inline-block;
    transform-origin: 0 0;
}


/* FadeIn FadeOut - Out Now*/

.bw-title-animate .bw-fout,
.bw-title-animate .bw-fin {
    text-transform: uppercase;
}

.bw-title-animate .bw-fout .bw-word,
.bw-title-animate .bw-fin .bw-word {
    display: inline-block;
}


/* Glitch */

.bw-glitch {
    width: fit-content;
    margin: 0 auto;
    display: -webkit-inline-box !important;
}


/* Glitch One */

.bw-animate-text.bw-glitch {
    display: block;
}

.bw-glitch {
    position: relative;
    margin: 0 auto;
}

.bw-glitch::before,
.bw-glitch::after {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
    overflow: hidden;
    position: absolute;
    top: 0;
    clip: rect(0, 900px, 0, 0);
    content: attr(data-text);
}

.bw-glitch::after {
    -webkit-animation-name: glitch-animation;
    animation-name: glitch-animation;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    left: 4px;
    text-shadow: -1px 0 #ffa800;
    background: #f5efe0;
}

.bw-glitch::before {
    -webkit-animation-name: glitch-animation-2;
    animation-name: glitch-animation-2;
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
    left: -4px;
    text-shadow: 1px 0 #00d8ff;
    background: #f5efe0;
}

@-webkit-keyframes glitch-animation {
    0% {
        clip: rect(42px, 9999px, 44px, 0);
    }
    5% {
        clip: rect(12px, 9999px, 59px, 0);
    }
    10% {
        clip: rect(48px, 9999px, 29px, 0);
    }
    15.0% {
        clip: rect(42px, 9999px, 73px, 0);
    }
    20% {
        clip: rect(63px, 9999px, 27px, 0);
    }
    25% {
        clip: rect(34px, 9999px, 55px, 0);
    }
    30.0% {
        clip: rect(86px, 9999px, 73px, 0);
    }
    35% {
        clip: rect(20px, 9999px, 20px, 0);
    }
    40% {
        clip: rect(26px, 9999px, 60px, 0);
    }
    45% {
        clip: rect(25px, 9999px, 66px, 0);
    }
    50% {
        clip: rect(57px, 9999px, 98px, 0);
    }
    55.0% {
        clip: rect(5px, 9999px, 46px, 0);
    }
    60.0% {
        clip: rect(82px, 9999px, 31px, 0);
    }
    65% {
        clip: rect(54px, 9999px, 27px, 0);
    }
    70% {
        clip: rect(28px, 9999px, 99px, 0);
    }
    75% {
        clip: rect(45px, 9999px, 69px, 0);
    }
    80% {
        clip: rect(23px, 9999px, 85px, 0);
    }
    85.0% {
        clip: rect(54px, 9999px, 84px, 0);
    }
    90% {
        clip: rect(45px, 9999px, 47px, 0);
    }
    95% {
        clip: rect(37px, 9999px, 20px, 0);
    }
    100% {
        clip: rect(4px, 9999px, 91px, 0);
    }
}

@keyframes glitch-animation {
    0% {
        clip: rect(42px, 9999px, 44px, 0);
    }
    5% {
        clip: rect(12px, 9999px, 59px, 0);
    }
    10% {
        clip: rect(48px, 9999px, 29px, 0);
    }
    15.0% {
        clip: rect(42px, 9999px, 73px, 0);
    }
    20% {
        clip: rect(63px, 9999px, 27px, 0);
    }
    25% {
        clip: rect(34px, 9999px, 55px, 0);
    }
    30.0% {
        clip: rect(86px, 9999px, 73px, 0);
    }
    35% {
        clip: rect(20px, 9999px, 20px, 0);
    }
    40% {
        clip: rect(26px, 9999px, 60px, 0);
    }
    45% {
        clip: rect(25px, 9999px, 66px, 0);
    }
    50% {
        clip: rect(57px, 9999px, 98px, 0);
    }
    55.0% {
        clip: rect(5px, 9999px, 46px, 0);
    }
    60.0% {
        clip: rect(82px, 9999px, 31px, 0);
    }
    65% {
        clip: rect(54px, 9999px, 27px, 0);
    }
    70% {
        clip: rect(28px, 9999px, 99px, 0);
    }
    75% {
        clip: rect(45px, 9999px, 69px, 0);
    }
    80% {
        clip: rect(23px, 9999px, 85px, 0);
    }
    85.0% {
        clip: rect(54px, 9999px, 84px, 0);
    }
    90% {
        clip: rect(45px, 9999px, 47px, 0);
    }
    95% {
        clip: rect(37px, 9999px, 20px, 0);
    }
    100% {
        clip: rect(4px, 9999px, 91px, 0);
    }
}

@-webkit-keyframes glitch-animation-2 {
    0% {
        clip: rect(65px, 9999px, 100px, 0);
    }
    5% {
        clip: rect(52px, 9999px, 74px, 0);
    }
    10% {
        clip: rect(79px, 9999px, 85px, 0);
    }
    15.0% {
        clip: rect(75px, 9999px, 5px, 0);
    }
    20% {
        clip: rect(67px, 9999px, 61px, 0);
    }
    25% {
        clip: rect(14px, 9999px, 79px, 0);
    }
    30.0% {
        clip: rect(1px, 9999px, 66px, 0);
    }
    35% {
        clip: rect(86px, 9999px, 30px, 0);
    }
    40% {
        clip: rect(23px, 9999px, 98px, 0);
    }
    45% {
        clip: rect(85px, 9999px, 72px, 0);
    }
    50% {
        clip: rect(71px, 9999px, 75px, 0);
    }
    55.0% {
        clip: rect(2px, 9999px, 48px, 0);
    }
    60.0% {
        clip: rect(30px, 9999px, 16px, 0);
    }
    65% {
        clip: rect(59px, 9999px, 50px, 0);
    }
    70% {
        clip: rect(41px, 9999px, 62px, 0);
    }
    75% {
        clip: rect(2px, 9999px, 82px, 0);
    }
    80% {
        clip: rect(47px, 9999px, 73px, 0);
    }
    85.0% {
        clip: rect(3px, 9999px, 27px, 0);
    }
    90% {
        clip: rect(26px, 9999px, 55px, 0);
    }
    95% {
        clip: rect(42px, 9999px, 97px, 0);
    }
    100% {
        clip: rect(38px, 9999px, 49px, 0);
    }
}

@keyframes glitch-animation-2 {
    0% {
        clip: rect(65px, 9999px, 100px, 0);
    }
    5% {
        clip: rect(52px, 9999px, 74px, 0);
    }
    10% {
        clip: rect(79px, 9999px, 85px, 0);
    }
    15.0% {
        clip: rect(75px, 9999px, 5px, 0);
    }
    20% {
        clip: rect(67px, 9999px, 61px, 0);
    }
    25% {
        clip: rect(14px, 9999px, 79px, 0);
    }
    30.0% {
        clip: rect(1px, 9999px, 66px, 0);
    }
    35% {
        clip: rect(86px, 9999px, 30px, 0);
    }
    40% {
        clip: rect(23px, 9999px, 98px, 0);
    }
    45% {
        clip: rect(85px, 9999px, 72px, 0);
    }
    50% {
        clip: rect(71px, 9999px, 75px, 0);
    }
    55.0% {
        clip: rect(2px, 9999px, 48px, 0);
    }
    60.0% {
        clip: rect(30px, 9999px, 16px, 0);
    }
    65% {
        clip: rect(59px, 9999px, 50px, 0);
    }
    70% {
        clip: rect(41px, 9999px, 62px, 0);
    }
    75% {
        clip: rect(2px, 9999px, 82px, 0);
    }
    80% {
        clip: rect(47px, 9999px, 73px, 0);
    }
    85.0% {
        clip: rect(3px, 9999px, 27px, 0);
    }
    90% {
        clip: rect(26px, 9999px, 55px, 0);
    }
    95% {
        clip: rect(42px, 9999px, 97px, 0);
    }
    100% {
        clip: rect(38px, 9999px, 49px, 0);
    }
}


/* Glitch Two */

.bw-glitch-wrapper .bw-animate-text.bw-glitch::before,
.bw-glitch-wrapper .bw-animate-text.bw-glitch::after {
    color: white;
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f5efe0;
    overflow: hidden;
    top: 0;
}

.bw-glitch-wrapper .bw-animate-text.bw-glitch::before {
    left: 3px;
    text-shadow: -2px 0 red;
    animation-name: glitch-animation-1;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: reverse-alternate;
}

.bw-glitch-wrapper .bw-animate-text.bw-glitch::after {
    left: -3px;
    text-shadow: -2px 0 blue;
    animation-name: glitch-animation-2;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: reverse-alternate;
}

@keyframes glitch-animation-1 {
    0% {
        clip: rect(136px, 350px, 81px, 30px);
    }
    5% {
        clip: rect(115px, 350px, 5px, 30px);
    }
    10% {
        clip: rect(43px, 350px, 134px, 30px);
    }
    15% {
        clip: rect(16px, 350px, 43px, 30px);
    }
    20% {
        clip: rect(34px, 350px, 6px, 30px);
    }
    25% {
        clip: rect(112px, 350px, 76px, 30px);
    }
    30% {
        clip: rect(35px, 350px, 146px, 30px);
    }
    35% {
        clip: rect(38px, 350px, 92px, 30px);
    }
    40% {
        clip: rect(149px, 350px, 4px, 30px);
    }
    45% {
        clip: rect(108px, 350px, 106px, 30px);
    }
    50% {
        clip: rect(1px, 350px, 85px, 30px);
    }
    55% {
        clip: rect(57px, 350px, 3px, 30px);
    }
    60% {
        clip: rect(93px, 350px, 45px, 30px);
    }
    65% {
        clip: rect(131px, 350px, 121px, 30px);
    }
    70% {
        clip: rect(117px, 350px, 102px, 30px);
    }
    75% {
        clip: rect(27px, 350px, 136px, 30px);
    }
    80% {
        clip: rect(16px, 350px, 71px, 30px);
    }
    85% {
        clip: rect(130px, 350px, 8px, 30px);
    }
    90% {
        clip: rect(71px, 350px, 79px, 30px);
    }
    95% {
        clip: rect(137px, 350px, 39px, 30px);
    }
    100% {
        clip: rect(105px, 350px, 12px, 30px);
    }
}

@keyframes glitch-animation-2 {
    0% {
        clip: rect(28px, 350px, 23px, 30px);
    }
    5% {
        clip: rect(106px, 350px, 6px, 30px);
    }
    10% {
        clip: rect(112px, 350px, 109px, 30px);
    }
    15% {
        clip: rect(90px, 350px, 74px, 30px);
    }
    20% {
        clip: rect(138px, 350px, 71px, 30px);
    }
    25% {
        clip: rect(1px, 350px, 31px, 30px);
    }
    30% {
        clip: rect(135px, 350px, 149px, 30px);
    }
    35% {
        clip: rect(85px, 350px, 137px, 30px);
    }
    40% {
        clip: rect(119px, 350px, 32px, 30px);
    }
    45% {
        clip: rect(126px, 350px, 69px, 30px);
    }
    50% {
        clip: rect(135px, 350px, 33px, 30px);
    }
    55% {
        clip: rect(110px, 350px, 128px, 30px);
    }
    60% {
        clip: rect(44px, 350px, 56px, 30px);
    }
    65% {
        clip: rect(69px, 350px, 111px, 30px);
    }
    70% {
        clip: rect(32px, 350px, 11px, 30px);
    }
    75% {
        clip: rect(149px, 350px, 94px, 30px);
    }
    80% {
        clip: rect(129px, 350px, 125px, 30px);
    }
    85% {
        clip: rect(129px, 350px, 83px, 30px);
    }
    90% {
        clip: rect(9px, 350px, 116px, 30px);
    }
    95% {
        clip: rect(111px, 350px, 21px, 30px);
    }
    100% {
        clip: rect(38px, 350px, 20px, 30px);
    }
}


/* Fade From Bottom 2 */

.bw-fade-text {
    overflow: hidden;
}

.bw-fade-text .bw-animate-text {
    position: relative;
}


/* Rotator */

.bw-title-animate .bw-rotator .bw-text-wrapper {
    display: flex;
}

.bw-title-animate .bw-rotator-item {
    position: absolute;
    left: 2px;
}

.bw-title-animate .bw-rotator .bw-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #000;
    transform-origin: 0 50%;
    transform: scaleY(1);
}

.bw-title-animate .bw-rotator-wrapper {
    position: relative;
    margin-left: 8px;
}

.bw-title-animate .bw-rotator .bw-letter {
    transition: all 0.3s;
}

.bw-title-animate .bw-rotator-clip .bw-rotator-item {
    left: 2px;
}

.bw-title-animate .bw-rotator-lrotate .bw-rotator-item,
.bw-title-animate .bw-rotator-beffect .bw-rotator-item,
.bw-title-animate .bw-rotator-sin .bw-rotator-item {
    display: flex;
}

.bw-title-animate .bw-rotator-ceffect .bw-rotator-item {
    background-image: linear-gradient(90deg, #ff5b5b, blue);
    color: transparent;
    background-clip: text;
    background-size: 200% auto;
    transition: all 0.3s;
}

.bw-title-animate .bw-rotator-bloading-line {
    width: 0;
    height: 2px;
    background: #000;
    position: absolute;
    bottom: 0;
    border: none;
}

.bw-title-animate .bw-rotator-bloading .bw-rotator-item {
    opacity: 0;
}

/* SVG */
.bw-title-animate .bw-svg-wrapper {
    position: relative;
}

.bw-title-animate .bw-svg-wrapper svg {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    fill: none;
    stroke: black;
    stroke-width: 5px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}

