/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 
 .toplevel_page_black-widgets img {
    max-height: 20px !important;
    z-index: 999 !important;
    opacity: 1 !important;
    max-width: 50px;
}

body.toplevel_page_black-widgets {
    background: #A0AEB9;
    position: relative;
}

body.toplevel_page_black-widgets .bw-box-backend {
    font-family: source-serif-pro,serif !important;
    font-weight: 400;
    font-style: normal;
    max-width: 980px;
    margin: 50px auto;
    padding: 50px 40px;
    border-radius: 24px;
}

body.toplevel_page_black-widgets ul#adminmenu a.wp-has-current-submenu:after,
body.toplevel_page_black-widgets ul#adminmenu>li.current>a.current:after {
   border-right-color: #A0AEB9;
}

.bw-box-backend h4.bw-backend-heading, .bw-box-backend h2.bw-backend-heading {
    color: #fff;
}

.bw-box-backend h2.bw-backend-heading {
    font-size: 42px;
    line-height: 54px;
    letter-spacing: -1.5px;
    margin-bottom: 55px;
    margin-top: 0;
}

.bw-box-backend h2.bw-backend-heading:first-child {
    font-weight: 800;
    margin-bottom: 20px;
}

.bw-box-backend h4.bw-backend-heading {
    font-size: 21px;
    margin: 50px 0;
}

.bw-box-backend h4.bw-backend-heading strong {
    font-weight: 900;
}

.bw-box-backend a {
    color: #0719a3;
    transition: all 0.3s ease;
}

.bw-box-backend a:hover {
    color: #fff !important;
}

.bw-box-backend a:focus {
   border: 0;
   box-shadow: unset;
}

body.toplevel_page_black-widgets .bw-box-backend .bw-banner {
    max-width: 100%;
    width: 100%;
    max-height: unset !important;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 24px 80px -40px rgba(0, 0, 0, 0.4);
    margin: 24px 0;
}

/* Elementor Environment*/
#elementor-panel.elementor-panel {
    background: #000;
}

.elementor-panel .elementor-element>.eicon-lock {
    color: #555;
}

#elementor-panel .elementor-element {
    background: #000 !important;
    background: linear-gradient(-45deg, #181818 50%, #202124 100%) !important;
    color: #fff !important;
    transition: all .02s ease !important;
}

#elementor-panel .elementor-element .icon,
#elementor-panel .elementor-element .title {
    color: #888 !important;
    transition: all .3s ease !important;
}

.elementor-history-item,
#elementor-panel .elementor-element:hover .icon,
#elementor-panel .elementor-element:hover .title {
    color: #fff !important;
}

#elementor-panel-elements-search-input {
    background-color: #1F1F1F;
    color: #797979;
}

/* Elementor Controller */
#elementor-panel-history:not(.elementor-empty),
#elementor-panel .elementor-control.elementor-control-type-divider .elementor-control-content,
#elementor-panel .elementor-control {
    background: #1F1F1F;
}

#elementor-panel .elementor-control-type-dimensions .elementor-link-dimensions .elementor-linked,
#elementor-panel .elementor-control-type-dimensions .elementor-control-dimension-label {
    color: #6d7882;
}

#elementor-panel .elementor-panel-heading-title {
    color: #6d7882;
}

#elementor-panel .select2-container--default .select2-selection--single,
#elementor-panel-elements-search-input:focus {
    background: #333;
}

.elementor-revision-item__wrapper,
.elementor-history-item,
.elementor-editor-active .select2-dropdown,
#elementor-panel .select2-dropdown,
#elementor-panel .select2-container--default .select2-selection--single,
#elementor-panel .select2-container:not(.select2-container--open):not(.select2-container--focus) .select2-selection--multiple,
#elementor-panel .select2-container:not(.select2-container--open):not(.select2-container--focus) .select2-selection--single,
#elementor-panel .elementor-control-media .elementor-control-input-wrapper,
#elementor-panel .elementor-control.elementor-control-type-divider .elementor-control-content,
#elementor-panel .elementor-control-type-tab,
#elementor-panel .pickr,
#elementor-panel .elementor-control-type-popover_toggle .elementor-control-popover-toggle-toggle-label,
#elementor-panel .elementor-panel-heading,
#elementor-panel .elementor-choices .elementor-choices-label,
#elementor-panel .elementor-control-responsive-switchers__holder,
#elementor-panel .elementor-control-type-url .elementor-control-url-more,
#elementor-panel .elementor-control-dynamic-switcher,
#elementor-panel .elementor-input-style:not(:focus),
#elementor-panel input:not(:focus), select:not(:focus),
#elementor-panel textarea:not(:focus) {
    border-color: #3E3E3E !important;
}

.elementor-history-item:hover,
.select2-container--default .select2-search--dropdown .select2-search__field {
    border-color: #E3E3E3;
}

.elementor-panel .elementor-controls-popover:before {
    border-bottom-color: #111;
}

#elementor-panel .elementor-controls-popover div.elementor-control {
    background-color: #111;
}

.elementor-revision-item__wrapper,
#elementor-panel .elementor-controls-popover {
    background: #111;
}

.elementor-revision-item__wrapper:hover,
#elementor-panel .elementor-control-media__content__upload-button,
#elementor-panel .elementor-slider,
#elementor-panel .elementor-control-type-switcher .elementor-switch,
#elementor-panel .elementor-control-type-switcher .elementor-switch-label,
#elementor-panel .elementor-control-responsive-switchers__holder,
#elementor-panel .elementor-control-dynamic-switcher {
    background: #3E3E3E;
}

.elementor-history-item-current,
.elementor-history-item:hover,
#elementor-panel .elementor-slider .noUi-handle,
#elementor-panel .elementor-control-type-switcher .elementor-switch-handle {
    background: #6d7882 ;
}

.elementor-editor-active .select2-dropdown,
#elementor-panel .elementor-control.elementor-control-separator-before:before {
    background-color: #3E3E3E;
}

#elementor-panel .elementor-control-type-switcher .elementor-switch-input:checked~.elementor-switch-label {
    background-color: #000;
}

#elementor-panel .elementor-control-type-dimensions .elementor-link-dimensions:not(.unlinked),
#elementor-panel .elementor-control-type-tab.elementor-tab-active {
    background: #3E3E3E;
    border-color: #3E3E3E;
}

/* Elementor Border */
#elementor-panel.elementor-panel .elementor-panel-menu-item,
#elementor-panel.elementor-panel .elementor-panel-navigation {
    background: #222;
    color: #6d7882;
}

#elementor-panel.elementor-panel .elementor-panel-menu-item:hover {
    background: #333;
}

#elementor-panel.elementor-panel .elementor-panel-menu-item-exit-to-dashboard .elementor-panel-menu-item-icon,
#elementor-panel.elementor-panel .elementor-panel-menu-item-exit-to-dashboard .elementor-panel-menu-item-title,
#elementor-panel.elementor-panel .elementor-panel-menu-item a {
    color: #6d7882;
}

#elementor-panel.elementor-panel .elementor-panel-navigation .elementor-panel-navigation-tab.elementor-active {
    background-image: unset;
    background: #111;
    border-bottom: 3px solid #888;
}

#elementor-panel.elementor-panel #elementor-panel-header {
    background-color: #111;
    background: linear-gradient(-10deg, #181818 50%, #202124 100%) !important;
    color: #6d7882;
}

/* Elementor Global Settings */
.elementor-panel .elementor-panel-scheme-buttons,
#elementor-panel.elementor-panel .elementor-panel-box {
    background: #1F1F1F;
}

#elementor-panel.elementor-panel .elementor-panel-scheme-color-system-items {
    border-color: #3E3E3E !important;
}

/* Elementor Message */
.elementor-panel .elementor-panel-alert.elementor-panel-alert-warning {
    background-color: #000;
    color: #ccc;
}

#elementor-mode-switcher {
    background: #6d7882;
    color: #fff;
}

#elementor-mode-switcher:hover {
    background: #000;
}

#elementor-panel.elementor-panel .elementor-nerd-box img,
#elementor-panel-get-pro-elements .elementor-nerd-box-icon {
    filter: saturate(14) !important;
}

.elementor-nerd-box .elementor-button.elementor-nerd-box-link {
    background: #333;
    color: #6d7882;
}

.elementor-nerd-box .elementor-button.elementor-nerd-box-link:hover {
    background: #1F1F1F;
}


/* Ctrl E — Finder */
.elementor-templates-modal .dialog-buttons-wrapper,
.elementor-templates-modal .dialog-header {
    background: #000;
    -webkit-box-shadow: 0 0 8px rgba(122, 101, 101, 0.1);
    box-shadow: 0 0 8px rgba(122, 101, 101, 0.1);
}
.elementor-templates-modal .dialog-widget-content {
    background: #222;
}
.elementor-finder__results__category__title {
    background: #111;
}
.elementor-finder__results__item.elementor-active * {
    background: #444;
}

/* Elementor Loading */
#elementor-loading {
    background: #1F1F1F;
}
#elementor-loading .elementor-loader {
    background: #000;
}
#elementor-loading .elementor-loader-box {
    background-color: #1F1F1F;
}

#elementor-try-safe-mode.elementor-safe-mode-toast {
    background: #000;
}

#elementor-try-safe-mode .elementor-safe-mode-button {
    background: #111;
    border-radius: 2px;
}

/* Other pages */
#elementor-editor-button, #elementor-switch-mode-button {
    background: #1F1F1F;
    border-color: #1F1F1F;
    color: #6d7882;
}
#elementor-editor-button, #elementor-switch-mode-button:hover {
    color: #ccc;
}