/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 
 .toplevel_page_black-widgets img {
     max-height: 20px !important;
     z-index: 999 !important;
     opacity: 1 !important;
     max-width: 50px;
 }
 
 body.toplevel_page_black-widgets {
     background: #A0AEB9;
     position: relative;
 }
 
 body.toplevel_page_black-widgets .bw-box-backend {
     font-family: source-serif-pro,serif !important;
     font-weight: 400;
     font-style: normal;
     max-width: 980px;
     margin: 50px auto;
     padding: 50px 40px;
     border-radius: 24px;
 }
 
 body.toplevel_page_black-widgets ul#adminmenu a.wp-has-current-submenu:after,
 body.toplevel_page_black-widgets ul#adminmenu>li.current>a.current:after {
    border-right-color: #A0AEB9;
}

 .bw-box-backend h4.bw-backend-heading, .bw-box-backend h2.bw-backend-heading {
     color: #fff;
 }
 
 .bw-box-backend h2.bw-backend-heading {
     font-size: 42px;
     line-height: 54px;
     letter-spacing: -1.5px;
     margin-bottom: 55px;
     margin-top: 0;
 }
 
 .bw-box-backend h2.bw-backend-heading:first-child {
     font-weight: 800;
     margin-bottom: 20px;
 }
 
 .bw-box-backend h4.bw-backend-heading {
     font-size: 21px;
     margin: 50px 0;
 }
 
 .bw-box-backend h4.bw-backend-heading strong {
     font-weight: 900;
 }
 
 .bw-box-backend a {
     color: #0719a3;
     transition: all 0.3s ease;
 }
 
 .bw-box-backend a:hover {
     color: #fff !important;
 }

 .bw-box-backend a:focus {
    border: 0;
    box-shadow: unset;
 }

 body.toplevel_page_black-widgets .bw-box-backend .bw-banner {
    max-width: 100%;
    width: 100%;
    max-height: unset !important;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 24px 80px -40px rgba(0, 0, 0, 0.4);
    margin: 24px 0;
}
 
 #elementor-panel-category-black_widgets .elementor-element {
     background: #000;
     background: linear-gradient(-45deg, #000 0%, #222 50%, #000 100%);
     color: #fff;
     transition: all .02s ease !important;
 }
 
 #elementor-panel-category-black_widgets .elementor-element .icon, #elementor-panel-category-black_widgets .elementor-element .title {
     color: #fff;
     transition: all .3s ease !important;
 }
 
 #elementor-panel-category-black_widgets .elementor-element:hover .icon, #elementor-panel-category-black_widgets .elementor-element:hover .title {
     color: #fcb92c;
 }
 
 
/* BLack Widgets Settings */
#bw-wrap {
    padding: 40px;
}

#bw-wrap h1 {
    border: unset;
    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -0.03em;
    color: #000;
}

#bw-wrap hr {
    border: 0;
    height: 6px;
    background-image: linear-gradient(to right, #0719a3, rgb(7 25 163 / 0.5), rgba(0, 0, 0, 0));
    max-width: 40%;
    margin: 0;
}

#bw-wrap .notice.is-dismissible {
    margin: 0 0 40px 0;
    background: rgb(70 180 80 / 14%);
    border-top: unset;
    border-right: unset;
    border-bottom: unset;
}

#bw-wrap .notice-dismiss:before {
    color: #000;
    font-size: 18px;
    margin-top: 2px;
}

#bw-wrap .notice.is-dismissible strong {
    color: #46b450;
    font-weight: 700;
    font-size: 16px;
}

/* Screen Options */
#bw-wrap input[type=checkbox] {
    background-color: #fff;
    border: 1px solid #000;
    padding: 9px;
    min-width: 24px;
    min-height: 24px;
    transition: all .18s ease;
    outline: 0;
    margin: 2px 4px 12px 2px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 0;
}

#bw-wrap input[type=checkbox]:focus {
    box-shadow: unset;
}

#bw-wrap input[type=checkbox]:checked {
    border-color: #0719a3;
    background: #0719a3;
    border-radius: 2px;
    position: relative
}

#bw-wrap input[type=checkbox]:checked:before {
    content: "";
    font: normal;
    position: absolute;
    top: 9px;
    left: 3px;
    margin: 0;
    vertical-align: middle;
    line-height: 1;
    border-right: 2px solid #fff!important;
    border-bottom: 2px solid #fff!important;
    transform: rotate(45deg);
    transform-origin: 0 100%;
    color: #fff;
    transition: all .2s ease;
    animation: bw-check-box 130ms 140ms cubic-bezier(.4,0,.29,1) forwards;
}

@keyframes bw-check-box {
    0% {
        width: 0;
        height: 0;
        border-color: #fff;
        transform: translate3d(0,0,0) rotate(45deg)
    }

    33% {
        width: 6px;
        height: 0;
        transform: translate3d(0,0,0) rotate(45deg)
    }

    100% {
        width: 6px;
        height: 12px;
        border-color: #fff;
        transform: translate3d(0,-12px,0) rotate(45deg)
    }
}

#bw-wrap .bw-backend-btn {
    padding: 12px 28px;
    font-size: 12px;
    border-radius: 0;
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0);
    outline: 1px solid;
    outline-color: rgba(0, 0, 0, 0.5);
    outline-offset: 0px;
    text-shadow: none;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    background-color: #0719a3 !important;
    /* background-image: linear-gradient(90deg, #0719a3 0%, #283bcb 50%, #4656cf 100%) !important; */
    box-shadow: 0 4px 45px -7px #0719a3 !important;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

#bw-wrap .bw-backend-btn:focus,
#bw-wrap .bw-backend-btn:hover {
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.2);
    outline-color: rgba(0, 0, 0, 0);
    outline-offset: 15px;
    background-color: #000 !important;
    /* background-image: linear-gradient(90deg, #000 0%, #222 50%, #333 100%) !important; */
    box-shadow: 0 4px 45px -7px #000 !important;
}
